
h1 { /* gaat over h1 */
    color: white; /* Kleur aanpassen */
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 3cm;
}

p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  margin: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/*begin dropdownmenu*/
.dropdown {
  position: fixed
}

/* Style the dropdown button */
.dropbtn {
  color: black;
  padding: 16px;
  border: transparent;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  color: #4b4b4b;
  min-width: 200px;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  border-width: 2px;
  border-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color:black;
}

#Homepage { /*Alleen voor de pagina die de body met de naam "Homepage" heeft*/
    background-image: url("images/9bf9823c76e64c12a99c9f9573b12c32.jpg"); /*Achtergrond afbeelding*/
    background-size: cover;       /* zorgt dat het de hele beeld wordt gevult */
    background-position: center;  /* positie van afbeelding in midden */
    background-repeat: no-repeat; /* niet herhalen */
    background-attachment: fixed; /* ff opzoeken */
    
}