body {
    background-color: rgb(95, 209, 247);
}

h1 {
    color: white;
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 3cm;
}

p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}