
h1 { /* gaat over h1 */
    color: white; /* Kleur aanpassen */
    text-align: center; /*tekst in midden van het beeld*/
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*tekst font*/
    font-size: 125px; /*tekst grootte*/
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /*drop shadow*/

}

p {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

p2 {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 10px;
}

img {
  display: block;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left

}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  background-color: #4b4b4b;
  min-width: 120px;
}

/* Links inside dropdown content */
.dropdown-content a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color:black;
}

footer {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

}

footer :hover {
  color: #333333;
}

#Homepage { /*Alleen voor de pagina die de body met de naam "Homepage" heeft*/
    background-image: url("images/9bf9823c76e64c12a99c9f9573b12c32.jpg"); /*Achtergrond afbeelding*/
    background-size: cover;       /* zorgt dat het de hele beeld wordt gevult */
    background-position: center;  /* positie van afbeelding in midden */
    background-repeat: no-repeat; /* niet herhalen */
    background-attachment: fixed; /* ff opzoeken */
}

#Binair { 
    background-image: url("images/binary_14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Compressie { 
    background-image: url("images/data-compression.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Kleurmodellen { 
    background-image: url("images/Kleurmodellen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Computer {
  background-image: url("images/Desk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.plaatjes {
  display: flex;              /* zet afbeeldingen naast elkaar */
  justify-content: center;    /* zet afb. in het midden */
  gap: 20px;                  /* 20px aan ruimte tussen de plaatjes */
}