
h1 { /* gaat over h1 */
    color: white; /* Kleur aanpassen */
    text-align: center; /*tekst in midden van het beeld*/
    font-style: oblique;/*Schuine tekst*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*tekst font*/
    font-size: 125px; /*tekst grootte*/
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /*drop shadow*/

}

p {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

p2 {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 10px; /*ruimte buiten element*/
}

/*img {
  display: block;
  align-items: center;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; /*buiten binnen het vak is 0 (tussen rand en inhoud)*/
  overflow: hidden;/*Inhoud buiten element wordt verborgen*/
  background-color: #333333;
}

ul li {
  float: left /*Naar linkerkant van beeld*/

}

ul li a {
  display: block; /*'blok' op een regel*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*geen decoratie, zoals underscore*/
}

ul li a:hover { /*Als je met je muis erover heen gaat, alleen voor elementen die in de lijst staan*/
  background-color: #111111;
}

/* Dropdown content of groep */
.dropdown-content {
  display: none;
  background-color: #a7a7a7;
  min-width: 120px; /*hoe breed*/
}

/* Links inside dropdown content */
.dropdown-content a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: black
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:black;
}

footer {
  color: black;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  position: fixed; /*Dat het hele tijd op zelfde plek blijft.*/
  text-align: center;
  bottom: 0;
  width: 100%; /*zo ver mogelijk uitgerekt*/
}

footer :hover {
  color: #333333;
}

#Homepage { /*Alleen voor de pagina die de body met de naam "Homepage" heeft*/
    background-image: url("images/9bf9823c76e64c12a99c9f9573b12c32.jpg"); /*Achtergrond afbeelding*/
    background-size: cover;       /* zorgt dat het de hele beeld wordt gevult */
    background-position: center;  /* positie van afbeelding in midden */
    background-repeat: no-repeat; /* niet herhalen */
    background-attachment: fixed; /* ff opzoeken */
}

#Binair { 
    background-image: url("images/binary_14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Compressie { 
    background-image: url("images/data-compression.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Kleurmodellen { 
    background-image: url("images/Kleurmodellen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Computer {
  background-image: url("images/Desk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.plaatjes {
  display: flex;              /* zet afbeeldingen naast elkaar */
  justify-content: center;    /* zet afb. in het midden */
  gap: 20px;                  /* 20px aan ruimte tussen de plaatjes */
}